asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==4.2.9
django-countries==7.5.1
django-phonenumber-field==7.3.0
phonenumberslite==8.13.28
pillow==10.2.0
psycopg==3.1.17
psycopg-binary==3.1.17
python-http-client==3.3.7
sendgrid==6.11.0
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
typing_extensions==4.9.0
