/* Add this code to your styles.css */
footer {
    background-color: #1b1b1b;
    color: #fff;
	position: absolute;
	bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #007bff;
}

.btn-social {
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}