{% extends 'core/base.html' %}
{% load static %}

{% block title %}Basic Formset (DIV layout){% endblock %}

{% block extrahead %}
<script>
	$(document).ready(function(){

		$('#photos_table tbody tr').formset({
			// For inline formsets, be sure to set the prefix, as the default prefix
			// ('form') isn't correct.
			// Django appears to generate the prefix from the lowercase plural
			// name of the related model, with camel-case converted to underscores.
			prefix: 'photos'
		});

	});

</script>
{% endblock %}



{% block content %}

<div class="container d-flex justify-content-center">
	<div class="row">
		<div class="col">
			<div class="card"></div>
				<div class="card-body">

					{% load thumbnail %}
					<img src="{% thumbnail user.profile_picture 200x200 crop%}" alt="{{user.name}}" class="thumb-post">
					<form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ talent_form.as_p }}

						<div class="row">
							<div class="col">
								<button type="submit" class="btn btn-primary">Update</button>
							</div>  
							<div class="col">
								<a href="{% url 'talent_profile' request.user.id %}" class="btn btn-primary">Back</a>
							</div>
						</div>

                    </form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
