{% extends "talent_edit.html" %}


{% block content %}
<div>
    <div class="entry">
        <form method="post" action="">
            {% for form in formset.forms %}
            <div id="{{ form.prefix }}-row" style="padding-bottom:6px; border-bottom:1px dotted #ccc; margin-bottom:6px;">
                {{ form.type.label_tag }}<br />
                {{ form.type }}
                {{ form.value.label_tag }}<br />
                {{ form.value }}
                {{ form.preferred }} {{ form.preferred.label_tag }}
            </div>
            {% endfor %}
            <p>
                {{ formset.management_form }}
                <input type="submit" value="Submit" />
            </p>
        </form>
    </div>
</div>
{% endblock %}
