{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="card">
				<div class="card-body">
					<div class="d-flex justify-content-center flex-wrap">
						<div id="carousel-{{user.id}}" class="carousel slide" data-ride="carousel" data-interval="false">
							<div class="carousel-inner col-md-12">
								{% for photo in user.photo_set.all %}
									<div class="carousel-item {% if forloop.first %} active {% endif %}">
									<img src="{{ photo.image.url }}" class="img-fluid" style="max-height: 500px;">
								</div>
								{% endfor %}
							</div>
							<a class="carousel-control-prev" href="#carousel-{{user.id}}" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carousel-{{user.id}}" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<div class="card-body">
					{% load thumbnail %}
					<img src="{% thumbnail user.profile_picture 200x200 crop%}" alt="{{user.name}}" class="thumb-post">
				</div>
				<div class="card-body">
					<h5 class="card-title">{{user.name}}</h5>
					<p class="card-subtitle">{{user.city}}</p>
					<p class="card-text">
						{% for c in user.categories.all %}
								<span class="badge badge-primary rounded-pill">{{c.name}}</span>
						{% endfor %}
					</p>
					<p class="card-text">
						The card-body class in Bootstrap is used to pad the content inside the card. It's a container for the actual content you want to display within the card.
					</p>
					<p class="card-text">
						{% if user.contact_phone %}
							<p>
								<i class="fas fa-phone"></i> {{user.contact_phone}}
							</p>
						{% endif %}
						{% if user.contact_email %}
							<p>
								<i class="fas fa-envelope"></i> {{user.contact_email}}
							</p>
						{% endif %}
						{% if user.contact_website %}
							<p>
								<i class="fas fa-globe"></i> {{user.contact_website}}
							</p>
						{% endif %}
						{% if user.contact_instagram %}
							<p>
								<a href="https://instagram.com/{{user.contact_instagram}}">
									<i class="fab fa-instagram"></i> {{user.contact_instagram}}
								</a>
						{% endif %}
					</p>
                    {% if user == request.user %}
						<a href="{% url 'talent_edit' %}" class="btn btn-primary">Editar</a>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}