{% extends 'core/base.html' %}
{% load static %}

{% block title %}Basic Formset (DIV layout){% endblock %}


{% block content %}

<div class="container d-flex justify-content-center">
	<div class="row">
		<div class="col">
			<div class="card"></div>
				<div class="card-body">

					{% load thumbnail %}
					<img src="{% thumbnail user.profile_picture 200x200 crop%}" alt="{{user.name}}" class="thumb-post">
					<form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ talent_form.as_p }}

						<div class="row">
							<div class="col">
								<button href="{% url 'talent_profile' request.user.id %}" class="btn btn-primary">Back</a>
							</div>  
							<div class="col">
								<button type="submit" class="btn btn-primary">Update</button>
							</div>
						</div>

                    </form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
