{% extends 'app_main/main.html' %}

{% load static %}

{% block content %}

<style>
	.profile_pic{
		max-width: 60px;
		max-height: 60px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>

<div class="row">

	<div class="col">
		<h5>TALENT:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Photographer</a>
			<table class="table table-sm">
				<tr>
				<th></th>
				<th>Photographer</th>
				</tr>

				{% for t in talent %}
					<tr>
						<td>{{t.first_name}}</td>
						<td>{{t.user}}</td>
						<td>{{t.email}}</td>
						<td>{{t.phone}}</td>
						<td>
							{% for c in t.categories.all %}
								<p>{{ c }} </p>
							{% endfor %}
						</td>
						<td>
							{% for p in t.photo_set.all %}
								<p><img class="profile_pic" src="static/{{ p.image.url }}" ></p>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}
