<footer class="bg-dark text-white py-4">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h5>Contact</h5>
				<p>Email: noreply@proyectito.com</p>
				<p>Phone: +1 (123) 456-7890</p>
			</div>
			<div class="col-md-4">
				<h5>Quick Links</h5>
				<ul class="list-unstyled">
					<li><a href="#">Home</a></li>
					<li><a href="#">Photographers</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h5>Follow Us</h5>
				<a href="#" class="btn btn-outline-light btn-social mx-1"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="btn btn-outline-light btn-social mx-1"><i class="fab fa-twitter"></i></a>
				<a href="#" class="btn btn-outline-light btn-social mx-1"><i class="fab fa-linkedin-in"></i></a>
			</div>
		</div>
	</div>
</footer>