{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<form class="form-inline my-4 d-flex justify-content-center" method="GET" action="">
    <div class="input-group w-75"> <!-- Added w-75 class to occupy 75% of the width -->
        <input type="text" class="form-control" name="search" placeholder="Search talents">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>

<div class="container">
    <div class="row">
        {% for u in users %}
        <div class="col-md-4">
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-body">
                            <!-- <img src="{{u.profile_picture.url}}" alt="Profile Picture" class="rounded-circle thumb-post" width="100" height="100"> -->
                            {% load thumbnail %}
                            <img src="{% thumbnail u.profile_picture 100x100 box=u.pp_cropping crop detail %}" alt="{{u.name}}" class="rounded-circle thumb-post" width="100" height="100">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="/">
                                <h5 class="card-title">{{u.name}}</h5>
                            </a>
                            <p>
                                {% for c in u.categories.all %}
                                    <span class="badge badge-primary rounded-pill">{{c.name}}</span>
                                {% endfor %}
                            </p>
                            <p class="card-text">{{u.city}}</p>
                            <a href="#" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}