<header class="bg-dark text-white py-4">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<!-- Left section -->
				<h1 class="mb-0">
					<a class="nav-link" href="/">Picteame</a>
				</h1>
				
			</div>
			<div class="col-md-8 text-right">
				<!-- Right section -->
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav ml-auto">
						{% if not request.user.is_authenticated %}
							<li class="nav-item">
								<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
							</li>
						{% else %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									{{request.user.name}}
									{% load thumbnail %}
									<img src="{% thumbnail request.user.profile_picture 100x100 crop %}" alt="{{request.user.name}}" class="rounded-circle thumb-post" width="60" height="60">
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="{% url 'talent_profile' request.user.id %}">My Profile</a>
									{% if request.user.is_superuser %}
										<a class="dropdown-item" href="/admin/">Admin Panel</a>
									{% endif %}
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
								</div>
							</li>
						{% endif %}
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
	</header>
